{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block main %}
    <div style="text-align:center">
        <h1 class="h3 mb-3 font-weight-normal">About</h1>
    </div>

{% endblock %}
