<!--Footer-->
<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 d-flex flex-wrap text-center">
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tuileb"><p><a href="#" class="lien">Contact</a></p></div>
    </div>
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tuileb"><p><a href="#" class="lien">Legal Notice</a></p></div>
    </div>


    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tuileb"><p><a href="#" class="lien">Any problem?</a></p></div>
    </div>
   
 
    <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <div class="tuileb"><p>Copyright &copy; <a href="#" class="lien">La Fabrik du numérique</a> {{"now"|date("Y")}}</p></div>
    </div>
</div>